html(style="font-size: 12px;")
  head
    link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css", rel="stylesheet")
    style
      include styles.css
  body.leading-tight.font-sans
    #background.w-full.bg-black.h-screen.bg-cover.px-10.py-20
      .w-full.h-full.bg-white.px-16.py-10.border-black
        .flex.flex-col.items-center
          h1.font-bold.text-5xl.uppercase.mb-1 #{info.firstName} #{info.lastName}
          h2.font-mono.text-2xl.font-light.mb-0 – #{info.title} –
          .mb-3.font-sans.tracking-tight _________
          p.text-sm #{info.phone} – #{info.email}
        .grid.grid-cols-8.gap-x-2.gap-y-5.mt-12
          h3.col-span-2.font-mono.font-light.text-2xl= i18n.summary
          .col-span-6.text-justify !{bio}
          h3.col-span-2.font-mono.font-light.text-2xl= i18n.experience
          .col-span-6.text-justify
            each exp in experiences
              .mb-4
                .flex.justify-between.items-baseline
                  p
                    b.text-lg= exp.title
                    br
                    i= exp.company
                  p
                    b.uppercase.text-xs.px-4.py-1.rounded-full.border.border-black #{exp.startDate} – #{exp.endDate || i18n.current}
                ul.list-disc.list-outside.ml-6.text-justify
                  each ach in exp.achievements || []
                    li.mb-1 !{ach}
          h3.col-span-2.font-mono.font-light.text-2xl= i18n.skills
          .col-span-6
            each skill in skills
              p.text-justify
                b= skill.category + ". "
                span= skill.details
          h3.col-span-2.font-mono.font-light.text-2xl= i18n.diplomas
          .col-span-6
            each diploma in diplomas
              .mb-4.flex.justify-between.items-center
                div
                  .font-bold.text-lg= diploma.title
                  .italic= diploma.school
                div
                  span.uppercase.font-bold.text-xs.px-4.py-1.rounded-full.border.border-black= diploma.year
          h3.col-span-2.font-mono.font-light.text-2xl= i18n.languages
          each language in languages
            .col-span-2
              .font-bold.text-lg(class=`text-${language.align}`)= language.name
              div(class=`text-${language.align}`)= language.level
